##SETUP##

In [ ]:
import pymongo # import the library
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import chi2_contingency

In [ ]:
connection_string = "mongodb+srv://admin:1234@cluster0.lrq2u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Access your database
client = pymongo.MongoClient(connection_string)

# send a ping to confirm a successful connection
try:
  client.admin.command('ping')
  print("Pinged your deployment . You successfully connected to MongoDB !")
except Exception as e:
  print(e)

db = client['3675ProjectDB'] # connect to the database

In [ ]:
client = MongoClient("mongodb://localhost:27017") # connect to the database
db = client['3675Project'] # connect to the database

Table 1: Title.basics

In [ ]:
# table 1
# this contains 11.5 million rows
path = r'3675IMDbData\title.basics.tsv.gz'
df1 = pd.read_csv(path, sep='\t')

Table 2: Title.ratings

In [ ]:
path = r'3675IMDbData\title.ratings.tsv.gz'
df2 = pd.read_csv(path, sep='\t')

**Create a df that filters all the movies without ratings**

In [ ]:
merged_title_ratings_df = pd.merge(df1, df2, on='tconst', how='inner')
print("Merged df length:", len(merged_title_ratings_df))
# Merged df length: 1544438

Convert runtimeMinutes and startYear to numerical

In [ ]:
# Using .loc makes it explicit that you're modifying the DataFrame in place.
merged_title_ratings_df.loc[:, "runtimeMinutes"] = pd.to_numeric(merged_title_ratings_df["runtimeMinutes"], errors="coerce")
merged_title_ratings_df.loc[:, "startYear"] = pd.to_numeric(merged_title_ratings_df["startYear"], errors="coerce")

Filter out all non movies

In [ ]:
merged_title_ratings_df = merged_title_ratings_df[merged_title_ratings_df["titleType"] == "movie"]
print('filtered df length:', len(merged_title_ratings_df))
# 326678

Trimm movies longer shorter then 60mins and longer then 222mins

In [ ]:
data = merged_title_ratings_df.to_dict(orient='records')

In [ ]:
collection = db['Movies_Ratings_joined'] # had to run with local db
collection.insert_many(data)

In [ ]:
# Drop all docs that have a runtime < 60 mins and runtime > 220 mins
collection.delete_many({"runtimeMinutes": {"$lt": 60}})
collection.delete_many({"runtimeMinutes": {"$gt": 220}})
print(collection.count_documents({}))
# 326678

Create a list of valid tconst that are of movies with ratings and with our runtimeMinutes constraints

In [24]:
# Query the collection - this returns a cursor
cursor = db["Movies_Ratings_joined"].find()

# Convert the cursor to a list of documents, then create a DataFrame
movies_list = list(cursor)
movies_df = pd.DataFrame(movies_list)

# Drop the MongoDB autogenerated '_id' column
if '_id' in movies_df.columns:
    movies_df = movies_df.drop('_id', axis=1)


# Get the valid tconst values from Movies_only_basics
valid_tconsts = movies_df["tconst"].unique()

# Convert to text file for use later 
valid_tconsts_df = pd.DataFrame(valid_tconsts, columns=["tconst"])
valid_tconsts_df.to_csv("valid_tconsts.csv", index=False)

**Trimm df's using valid_tconsts**

In [25]:
# Txt file of valid tconsts
path = r'C:\Users\antal\Dev\3675Project\valid_tconsts.csv'
valid_tconsts_df = pd.read_csv(path)
valid_tconsts_df.head()

      tconst
0  tt0000147
1  tt0000502
2  tt0000574
3  tt0000591
4  tt0000615

In [ ]:
# table 1
# this contains 11.5 million rows
path = r'3675IMDbData\title.basics.tsv.gz'
df1 = pd.read_csv(path, sep='\t')

d1_filtered = df1[df1["tconst"].isin(valid_tconsts_df["tconst"])]
print("Filtered df length:", len(d1_filtered))
# 308331

C:\Users\antal\AppData\Local\Temp\ipykernel_9576\2830588979.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(path, sep='\t')

Filtered df length: 308331

In [23]:
d1_filtered.tail()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11513790,tt9916362,movie,Coven,Akelarre,0,2020,\N,92,"Drama,History"
11513822,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War"
11513874,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
11513954,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
11513964,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,Drama

In [ ]:
data = d1_filtered.to_dict(orient='records')
collection = db['trimmed_title_basics']
collection.insert_many(data)

In [ ]:
# Table 2
path = r'3675IMDbData\title.ratings.tsv.gz'
df2 = pd.read_csv(path, sep='\t')

d2_filtered = df2[df2["tconst"].isin(valid_tconsts)]
print("Filtered df length:", len(d2_filtered))
# 326678

In [ ]:
data = d2_filtered.to_dict(orient='records')
collection = db['trimmed_title_ratings']
collection.insert_many(data)

In [ ]:
# Table 3
path = r'3675IMDbData\title.crew.tsv.gz'
df3 = pd.read_csv(path, sep='\t')

d3_filtered = df3[df3["tconst"].isin(valid_tconsts)]
print("Filtered df length:", len(d3_filtered))
# 326675

In [ ]:
data = d3_filtered.to_dict(orient='records')
collection = db['trimmed_title_crew']
collection.insert_many(data)

In [ ]:
# Table 4
path = r'3675IMDbData\title.principals.tsv.gz'
df4 = pd.read_csv(path, sep='\t')

d4_filtered = df4[df4["tconst"].isin(valid_tconsts)]
print("Filtered df length:", len(d4_filtered))
# 5 million

In [ ]:
data = d4_filtered.to_dict(orient='records')
collection = db['trimmed_title_principals']
collection.insert_many(data)