In [1]:
import pymongo # import the library
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import chi2_contingency

In [10]:
#connection_string = "mongodb+srv://admin:1234@cluster0.lrq2u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
connection_string = "mongodb+srv://VSCode:9rxMmzPqxcySClGK@cluster0.lrq2u.mongodb.net/?appName=Cluster0"

# Access your database
client = pymongo.MongoClient(connection_string)

# send a ping to confirm a successful connection
try:
  client.admin.command('ping')
  print("Pinged your deployment . You successfully connected to MongoDB !")
except Exception as e:
  print(e)

db = client['3675HunterDB'] # connect to the database

Pinged your deployment . You successfully connected to MongoDB !

In [2]:
client = MongoClient("mongodb://localhost:27017") # connect to the database
db = client['3675Local'] # connect to the database

I want to create a list of valid tconst. I will do this by creating a collection of movies with a runtime between 60 to 220 mins. Then I will drop all records with empty runtime.

Lucky for me I already created a list of valid tconsts that are almost there. I just need to drop all that have empty runtimes

In [19]:
path = r'3675IMDbData\title.basics.tsv.gz'
df = pd.read_csv(path, sep='\t')

C:\Users\antal\AppData\Local\Temp\ipykernel_28932\44639617.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep='\t')

In [20]:
# load the valid tconsts
path = r'valid_tconsts.csv'
valid_tconsts_df = pd.read_csv(path)

In [21]:
# join the two df to create a new df with only the valid tconsts
df = pd.merge(df, valid_tconsts_df, on='tconst', how='inner')

In [22]:
# drop all records with "\N" value in runtimeMinutes
df = df[df['runtimeMinutes'] != '\\N']

# drop all records with "\N" value in genres
df = df[df['genres'] != '\\N']

Convert the runtimeMinutes and startYear to numerical

In [23]:
df.loc[:, "runtimeMinutes"] = pd.to_numeric(df["runtimeMinutes"], errors="coerce")
df.loc[:, "startYear"] = pd.to_numeric(df["startYear"], errors="coerce")

In [24]:
# Turn into a dictionary for mongodb
data = df.to_dict(orient='records')

Add to DB

In [25]:
collection = db["title.basics_cleaned"] # create a collection

# insert the data into the collection
collection.insert_many(data)
print(len(data))
# 269360

269360

**Create a csv of valid_non_empty_tconst**

In [ ]:
# Query the collection - this returns a cursor
cursor = db["title.basics_cleaned"].find()

# Convert the cursor to a list of documents, then create a DataFrame
list = list(cursor)
list_df = pd.DataFrame(list)

# Drop the MongoDB autogenerated '_id' column
if '_id' in list_df.columns:
    list_df = list_df.drop('_id', axis=1)


# Get the valid tconst values from Movies_only_basics
valid_nonzero_tconsts = list_df["tconst"].unique()

# Convert to text file for use later 
valid_nonzero_tconsts = pd.DataFrame(valid_nonzero_tconsts, columns=["tconst"])
valid_nonzero_tconsts.to_csv("valid_nonzero_tconsts.csv", index=False)

**Join title.ratings and valid_nonzero_tconsts**

In [36]:
# load title.ratings.tsv.gz
path = r'3675IMDbData\title.ratings.tsv.gz'
ratings_df = pd.read_csv(path, sep='\t')

# join the two df to create a new df 

df = pd.merge(valid_nonzero_tconsts, ratings_df, on='tconst', how='inner')

In [37]:
# Create a new collection
data = df.to_dict(orient='records')
collection = db["title.ratings_cleaned"]
collection.insert_many(data)
print(len(data))
# 269360

269360

**Join title.crew and valid_nonzero_tconsts**

In [38]:
path = r'3675IMDbData\title.crew.tsv.gz'
crew_df = pd.read_csv(path, sep='\t')

# join the two df to create a new df
df = pd.merge(valid_nonzero_tconsts, crew_df, on='tconst', how='inner')

In [39]:
# Create a new collection
collection = db["title.crew_cleaned"]
data = df.to_dict(orient='records')

# insert the data into the collection
collection.insert_many(data)
print(len(data))
# 269357

269357

**Join title.principals and valid_nonzero_tconsts**

In [3]:
path = r'valid_nonzero_tconsts.csv'
valid_nonzero_tconsts = pd.read_csv(path)

# load title.principals.tsv.gz
path = r'3675IMDbData\title.principals.tsv.gz'
principals_df = pd.read_csv(path, sep='\t')

# join the two df to create a new df
df = pd.merge(valid_nonzero_tconsts, principals_df, on='tconst', how='inner')

In [4]:
result = df["category"].unique()
print(result)

['self' 'director' 'producer' 'cinematographer' 'actress' 'actor' 'writer'
 'composer' 'editor' 'production_designer' 'casting_director'
 'archive_footage' 'archive_sound']

In [5]:
# Filter the data to only include the following categories: actor, actress, director, writer
df = df[df['category'].isin(['actor', 'actress', 'director', 'writer'])]

In [ ]:
# Create a new collection
collection = db["title.principals_cleaned"]
data = df.to_dict(orient='records')

collection.insert_many(data)
print(len(data))
# 2942036

2942036

**name.basics**

I need to only include the nconst that are relevent to title.principals_cleaned

In [ ]:
# create a csv of valid nconst values
valid_nconst = df["nconst"].unique()
valid_nconst = pd.DataFrame(valid_nconst, columns=["nconst"])
valid_nconst.to_csv("valid_nonzero_nconst.csv", index=False)
print(len(valid_nconst))
# 932538

932538

In [ ]:
# load name.basics.tsv.gz
path = r'3675IMDbData\name.basics.tsv.gz'
name_df = pd.read_csv(path, sep='\t')

# join the two df to create a new df
path = r'valid_nonzero_nconst.csv'
valid_nconst = pd.read_csv(path)

df = pd.merge(valid_nconst, name_df, on='nconst', how='inner')
print(len(df))
# 932470

932470

In [ ]:
# Create a new collection
collection = db["name.basics_cleaned"]
data = df.to_dict(orient='records')

# insert the data into the collection
collection.insert_many(data)
print(len(data))
# 932470

932470

In [12]:
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0714557,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
1,nm0846887,Elizabeth Tait,1879,\N,"actress,archive_footage",tt0000574
2,nm0846894,John Tait,1871,1955,"producer,actor,archive_footage","tt32879833,tt0336770,tt0000574,tt0322792"
3,nm1431224,Nicholas Brierley,1880,1935,actor,tt0000574
4,nm3002376,Norman Campbell,\N,\N,actor,"tt0000574,tt12579676"